
/* nav styles */
header{
    background-color: rgba(255, 144, 14, 0.1);
    margin: 0px auto;
}
.banner{
    max-width: 1440px;
    margin: 0px auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
    
}
.company-name{
    font-size: 3rem;
    font-weight: bold;
}
.menu ul{
    display: flex;

}
.menu ul a{
    text-decoration: none;
    margin-right: 4rem;
    font-size: 1.1rem;
    font-weight: 500;
}

/* banner styles */
.banner-text-container{
    max-width: 868px;
    margin: 150px auto;
    text-align: center;
}
.banner-title{
    font-size: 4rem;
    font-weight: bold;
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;
}
img{
    width: 100%;
    margin-bottom: 45px;
}
/* main styles */
.list-of-features{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 85px auto;
    padding: 61px;
    gap: 73px;
   
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
}
.details{
    height: 537px ;
    width: 304px;
}
.Quick{
    font-size: 2.8rem;
    font-weight: 600;
}
.of{
    font-size: 2.8rem;
    font-weight: bold;
}
.Features{
    font-size: 2.8rem;
    font-weight: bold;
}
.headings{
    margin: 0px;

}
.description{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 1.3rem;
}

/* loved-features css */
.loved-features{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
}
.feature-flex{
    display: flex;
    align-items: center;
    width: calc(100% - 7rem);
   }

.vr{
    height: 6.8rem;
    width: 0.38rem;
    background-color:rgba(255, 144, 14, 1) ;

}
.main-heading{
    font-size: 3rem;
    font-weight: bold;  
}
.feature-container{
    width: 36.25rem;
}
.image{
    width: 50rem;
}
.feature{
    padding:2rem 2rem;
}
.headings{
    font-size: 1.25rem;
    font-weight: 600;
}
.description, .feature-content{
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
}
.architect-image{
    width: 100%;
    border-radius: 8px;
}
/* shared css */

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.btn{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.25rem;
    border: none;
    height: 4rem;
    width: 11rem;
}
.color01{
    color: rgba(255, 144, 14, 1);
}
.dark01{
    color:rgba(19, 19, 19, 1) ;    
}
.dark02{
    color:rgba(66, 66, 66, 1) ;
}
.dark03{
    color:rgba(114, 114, 114, 1);
}



/* responsive styles for header */
@media screen and (max-width : 576px ) {
    nav{
        flex-direction: column;
        padding: 5px;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu ul li{
        margin-bottom: 10px;
    }
    .list-of-features{
        flex-direction: column;
        margin: 15px auto;
    }
    .image-container{
        grid-template-columns: repeat(1,1fr);
        gap: 8px;
        padding: 10px;
    }
    .loved-features{
        flex-direction: column;
        
    }
    .feature-container{
        width: calc(100% - 5px);

    }
    .image{
        width: calc(100% - 5px);
        margin-left: 10px;
    }
    .vr{
        align-items: stretch;
    }
}
@media screen and (min-width : 576px ) and (max-width:1000px) {
    nav{
        flex-direction: column;
        padding: 5px;
    }
    
    .list-of-features{
        flex-direction: column;
        
    }
    .details{
        width: 100%;
    }
    .loved-features{
        flex-direction: column;
    }
     .image{
        width: calc(100% - 5px);
        margin-left: 10px;
    }

}
